@page "/about"
@inject IJSRuntime jsruntime;

<h5>
    关于 Turning
</h5>

<p>
    版本： 1.0
</p>
<p>
    环境路径：@(System.IO.Directory.GetCurrentDirectory())<br/>
</p>

<hr/>

<p>
    调试多个环境，频繁修改服务器信息？<br/>
    队友手抖修改了你的配置文件？<br/>
    No!No!No!<br/>
    不用怕！Turning your request，从此你的配置文件整齐划一！<br/>
</p>
<div class="ppt-1">

</div>
<p>
    将一个虚拟地址指向真实地址，你甚至不用重启应用，就能自由的切换服务器。<br />
    你的调试，将会更加简单。
</p>

<p>
    致谢：nginx
</p>