<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Turning your request</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-terminal" aria-hidden="true"></span> 终端
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hosts">
                <span class="oi oi-script" aria-hidden="true"></span> hosts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="nginx">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> nginx.conf
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="conf">
                <span class="oi oi-cog" aria-hidden="true"></span> 设置
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> 关于
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
